.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  min-height: 100vh;
}
.todo-container{
    background-color: white;
    max-height : 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border-color: white;
    margin-top: 48px;
    margin-bottom: 48px;
}