.bg-container{
     background-image: linear-gradient(#fff1eb, #dfe2e5, #ace0f9);
     height : 100vh;
     background-size: cover;
     display: flex;
     flex-direction: column;
}
.heading{
    color : black;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.search-bar{
    width : 150px;
    height: 40px;
    border-color :  #7b8794;
    border-radius: 4px;
    border-width: 0px;
}
.tab-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.all-apps-container {
  text-align: center;
}
.apps-lists {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  width: 100%;
  padding-left: 0px;
}
.hr-line {
  border: 0;
  height: 1px;
  background-color: #7b8794;
  margin-top: 20px;
  margin-bottom: 20px;
}