.list-item{
   margin: 10px;
  padding-bottom: 10px;
}
.tab-button{
  font-size: 16px;
  font-weight: 500;
  font-family: 'roboto';
  color: #7b8794;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #dfe2e5;
}