.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column;
}
.login-form-container{
    background-color : white;
    width : 400px;
    height : 400px;
    border : 1px solid #d3d3d3;
    border-radius : 8px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : flex-start;
    padding: 24px;
}
.form-container{
    display : flex;
    flex-direction : column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.login-page-logo{
    width : 150px;
    margin-bottom : 20px;
}
.image-container{
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    margin-bottom : 20px;
    margin-left : 80px;
}
.input-container{
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    align-items: flex-start;
}
.input-label{
    font-family: 'Bree Serif', serif;
    font-size : 13px;
    margin-bottom : 2px;
    color : #1e293b;
    font-weight : bold;
    padding-right : 0;
    text-align: left;
    width: 100%;
}
.input-field{
    width : 100%;
    max-width: 400px;
    height : 35px;
    border : 1px solid #d3d3d3;
    border-radius : 4px;
    padding-left : 8px;
    margin-bottom : 15px;
    font-size : 14px;
    outline : none;

}
.login-button{
    width : 200px;
    height : 40px;
    background-color : #3b82f6;
    color : white;
    border : none;
    border-radius : 4px;
    font-size : 16px;
    cursor : pointer;
    margin-top : 10px;
}
.button-container{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  
}